.patb20{padding-top:20px; padding-bottom:20px;}

.logo {float:left; width:100%; background:#203782;}
.logo a{height:70px;}
.logo img{width:100%;}
main, footer{padding-left:300px;}
main {min-height:90vh}
.collapsible-header{background:url(../images/plusminus.png) no-repeat 98% -20px;}
.headerbg, .contactbg{ float:left; width:100%; }

.headerbg{background:#054b81; color:#fff;}
.contactbg{background:#fc9602; color:#fff; text-align:center; font-size:18px; padding:6px;}
.innerheading{font-size:30px; padding:10px 0 0; margin:8px 0; text-align:left;}
.innerheading {font-size:30px !important;}
.contactbg .row{margin-bottom:0;}
.version{font-size:12px; display:block; margin-top:8px;}
.bgheading{background:#e7e7e7; color:#054b81; font-size:22px; padding:8px 15px;}
footer {background:#e5e5e5; padding-top:8px; padding-bottom:8px; text-align:center; float:left; width:100%; }

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
    background: #F8F8FF;

}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;

}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#myJSONString,
#regexString {
  border: 2px dashed #666;
  margin: 20px;
  padding: 10px;
  font-family: helvetica;
}

